# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Add for blackduck related files
idir*
bin*
.synopsys*
.polaris-coverity.zip
logs*
io_stat*.json
.io*
.ninja_*
.idea*
build*
test-cpp
log*
work*
auth-key-*
cicd*